@charset "UTF-8";

html {
  font-family: 'Fira Sans', sans-serif;
}

@page {
  size: A4;
  padding-top: 0.8cm;
  @bottom-right {
    background: #393939;
    content: counter(page);
    height: .7cm;
    text-align: center;
    width: .7cm;
    vertical-align: middle;
    font-size: 7pt;
    border-radius: 0.05cm;
    color: white;
  }
  @top-center {
    background: #fbc847;
    content: '';
    display: block;
    height: .05cm;
    opacity: .5;
    width: 100%;
    margin: 0;
  }
  @top-right {
    content: string(heading);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
  }
}

@page :blank {
  background: url(logo-krkn-solutions-blank-page.png) no-repeat center;
  @bottom-right {
    background: none;
    content: ''; }
  @top-center {
    content: none; }
  @top-right {
    content: none; } }

@page no-chapter {
  @bottom-right {
    background: none;
    content: none; }
  @top-center {
    content: none; }
  @top-right {
    content: none; } }

@page cover {
  margin-top: 3cm;
  @bottom-right {
    background: none;
    content: none; }
  @top-center {
    content: none; }
  @top-right {
    content: none; }
}

@page contenido {
  background: url(logo-back.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 70%;
  background-position: -70px 750px;
}


@page chapter {
  background: #fbc847;
  margin: 0;
  @bottom-right {
    content: none; }
  @top-center {
    content: none; }
  @top-right {
    content: none; } }

html {
  color: #393939;
  font-size: 10pt;
  font-weight: 300;
  line-height: 1.5; }
  html body h1 {
    font-size: 38pt;
    color: black;}
  html body h2 {
    font-weight: 400;
    display:inline-block;
    background: black;
    color: white;
    margin: 0cm -3cm 0cm;
    padding: 0.5cm 0.5cm 0.5cm 3cm;
    font-size: 15pt;
    string-set: heading content();}
  html body h3 {
    color: black;
    font-weight: 500;
    padding-bottom: 1em;
    border-bottom: .25pt solid #c1c1c1; }
    html body h3 span {
      text-align: justify;
      display: block;
      font-weight: 200;
      font-size: 10pt;
      color: #393939;
      margin-top: 0.5cm;
    }
  html body h3::before {
    background: #fbc847;
    content: '';
    display: block;
    height: .08cm;
    margin-bottom: .25cm;
    width: 2cm; }
  html body h4 {
    margin: 0;
    font-size: 10pt;
    font-weight: 400; }
    html body h4 span {
      color: #393939;
      font-size: 9pt;
      font-weight: 200;}
  html body h5 {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-weight: 400;
    color: black;}
  html body .item a {
    text-decoration: none;
    margin: 0;
    font-size: 9pt;
    color: #393939; } 

  html body article.new-page{
    break-before: always;
  }




  /* PORTADA COVER */
  html body article#cover {
    page: cover;}
      html body article#cover .logotipo {
        position: relative;
        margin: -3cm -3cm 0.5cm;
        height: 13cm;
        background: url(logo-back.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 35cm;
        background-position: -60px -350px;}
      html body article#cover h1 {
        text-align: center;
        background: #fbc847;
        margin: 0cm -3cm 0cm;
        padding: 0.5cm 3.5cm 0.5cm 2cm;}
      html body article#cover h2::before {
        display: inline-block;
        background: url(logo-krkn-solutions.png) no-repeat center;
        background-size: 100%;
        height: 2cm;
        width: 3cm;
        vertical-align: middle;
        content: '';
        margin-right: 0.8cm;}
      html body article#cover .item {
        color: black;
        font-weight: 500;
        white-space: pre-wrap;
        display: block;
        border-bottom: .25pt solid #c1c1c1;}
      html body article#cover .item:first-child::before {
        background: #fbc847;
        content: '';
        display: block;
        height: .08cm;
        margin-bottom: .25cm;
        width: 2cm; }
        html body article#cover .item a{
          color: white;}

  /* CONTENIDO INDICE */
  html body article#contents {
    break-before: right;
    break-after: left;
    page: no-chapter; }
    html body article#contents ul {
      margin: 0;
      list-style: none;
      padding-left: 0; }
      html body article#contents ul li:first-child {
        border-top: none !important;}
      html body article#contents ul li {
        border-top: .25pt solid #c1c1c1;
        margin-bottom: .25cm;
        padding-top: .25cm; }
        html body article#contents ul li::before {
          color: #393939;
          content: '• ';
          font-size: 30pt;
          line-height: 16pt;
          vertical-align: bottom; }
        html body article#contents ul li a {
          color: inherit;
          text-decoration: none; }
          html body article#contents ul li a::before {
            content: target-text(attr(href)); }
          html body article#contents ul li a::after {
            color: black;
            font-size: 11pt;
            content: target-counter(attr(href), page);
            float: right; }
          html body article#contents ul li.sub-title {
            color: black;}
          html body article#contents ul li.sub-title::before {
            color: #fbc847;}
          html body article#contents ul li.content-link {
            padding-left: 0.5cm;
          }
  /* PORTADA CAPITULO */
  html body article.chapter {
    align-items: center;
    display: flex;
    height: 297mm;
    page: chapter; }
    html body article.chapter h2 {
      width: 100%;
      margin: 0cm;
      /* padding: 0.5cm 2.5cm 0.5cm 0.5cm; */
      text-align: center;}
    html body article.chapter h2::before{
      display: inline-block;
      background: url(logo-krkn-solutions.png) no-repeat center ;
      background-size: 100%;
      height: 2cm;
      width: 3cm;
      vertical-align: middle;
      content: '';
      margin-right: 0.8cm;}
  /* SECCION PROYECTOS */
  /* html body section#proyectos .item {
    display: inline-block;
    text-align: justify;
    border-bottom: .25pt solid #c1c1c1;
    padding-bottom: 0.5cm;
  }
    html body section#proyectos .item .title {
      margin-bottom: 0.25cm;
      display: block;
      color:black;
      font-size: 11pt;}
    html body section#proyectos .item .title::before {
      color: #fbc847;
      content: '» ';
      font-size: 15pt;
      line-height: 16pt;
      vertical-align: bottom;}
    html body section#proyectos .item .descripcion {
      margin-bottom: 0.25cm;
      display: block;
      font-size: 10pt;}
    html body section#proyectos .item .cliente {
      font-size: 10pt;
      font-style: italic;}
    html body section#proyectos .item .cliente::before {
      color: #c1c1c1;
      content: '• ';
      font-size: 15pt;
      line-height: 16pt;
      vertical-align: bottom;
    } */

  /* SECCION TECNOLOGIAS */
  /* html body section#tecnologias h3 {
    margin-bottom: 1cm;}
  html body section#tecnologias .item {
    display: inline-block;
    border-bottom: .25pt solid #c1c1c1;
    margin-bottom: 1.0cm;
    margin-top: 1.0cm;
    width: 100%;
    padding-bottom: 0.5cm;
    text-align: center;}
    html body section#tecnologias .item img {
      width: 100%;}
    html body section#tecnologias .item h4 {
      margin: 0;}
    html body section#tecnologias .item a {
      font-size: 7pt;} */
  /*  SECCION COLABORADORES*/

.columns-2 {
  /* background: red; */
  width: 100%;
  /* column-fill: balance; */
  columns: 2;
  column-gap: 1cm; }
.columns-3 {
  columns: 3;
  column-gap: 1cm; }

.columns-4 {
  columns: 4;
  column-gap: 0.6cm; }


.cv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
  .cv .item {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    display: block;
  }

ul.datos_personales strong {
  color: black;
}

ul.datos_educacion .carrera {
  display: block;
  color: black;
}
ul.datos_educacion .institucion {
  display: block;
  font-size: 9pt;
}
ul.datos_educacion .periodo {
  display: block;
  font-size: 9pt;
}

/*  table contents  */
table {
  border: 1px solid #393939;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

table td , table th {
  border: 1px solid #393939;
}

table th {
  font-size: 8pt;
  text-align: center;
  background: #393939;
  color: white;
  padding: 7px;
}

table td {
  font-size: 8pt;
  text-align: left;
  padding: 15px;
}

table td strong {
  color: black;
  font-weight: bold;
}

table h4 , .item h4 {
  text-align: justify;
  font-weight: bold;
}

table h4::before , .item h4::before {
  color: #fbc847;
  content: '• ';
  font-size: 15pt;
  line-height: 13pt;
  vertical-align: middle;
}

table h5::before , .item h5::before {
  color: #393939;
  content: '•  ';
  font-size: 13pt;
  line-height: 10pt;
  vertical-align: middle;
}

.content-markdown ul {
  margin: 0;
  padding-left: 0.5cm;
}

.content-markdown ul li {
  text-align: justify;
}

.content-markdown p {
  text-align: justify;
}

.exp_laboral .content-markdown {
  font-size: 9pt;
  margin: 0 0 0.5cm 0 ;
  border-bottom: .25pt solid #c1c1c1;
}


.box {
  float: right;
  width: 65%;
  height: auto;
  background: white;
  padding: 0;
  margin: 0cm -2.5cm 0.5cm 0.5cm;
  border-left: 3pt solid white;
}

.box .content {
  background: #fbc847;
  padding: 0.5cm 2.5cm 0.5cm 0.5cm;
  text-align: justify;
  font-size: 9pt;
  color: black;
}

.tecnologias .item {
  display: inline-block;
  border: .25pt solid #c1c1c1;
  padding: 0.2cm;
  margin-bottom: 0.2cm;
  width: 100%;
  text-align: center;
}

.tecnologias .item img {
  width: 85%;
}
.tecnologias .item h4 {
  text-align: left;
  margin-bottom: 0.2cm;
}
.tecnologias .item a {
  font-size: 7pt;}

.proyectos .item {
  display: inline-block;
  text-align: justify;
  border-bottom: .25pt solid #c1c1c1;
  padding-bottom: 0.25cm;
  width: 100%;
  margin: 0 0 0.15cm 0;
}

.proyectos .item .title {
  text-align: justify;
  margin: 0 0 0.08cm 0;
  display: block;
  color:black;
  font-size: 9pt;}
  .proyectos .item .tipo {
    color: white;
    font-size: 8pt;
    background: #393939;
    padding: 0.10cm;
    border-radius: 0.10cm;
  }
.proyectos .item .descripcion {
  display: block;
  font-size: 9pt;}
.proyectos .item .cliente {
  display: block;
  font-size: 8pt;
  font-style: italic;}

.proyectos .portafolio {
  border-radius: 0.10cm;
  border-bottom: none;
  /* border-bottom: 1.0pt solid black; */
  background: #fbc847;
  padding: 0.25cm;
}

.proyectos .portafolio .title {
  text-align: justify;
  color: black;
  font-size: 10pt;
}
.proyectos .portafolio .descripcion {
  color: black;
  font-size: 9pt;
}

.proyectos .portafolio .title::before {
  color: white;
  content: '\2605';
  font-size: 12pt;
  line-height: 13pt;
  vertical-align: top;
  margin-right: 0.15cm;
}






